body {
    margin: 0px;
    height: 100vh;
    width: 100vw;

}

#container{
    display: flex;
    margin: 0px;
    flex-direction: row;
    justify-content: space-between;

}


#rojo {
    display: flex;
    background-color: red;
    width: 360px;
    height: 360px;
    justify-content: center;
    align-items: center;
    color:white;

}

#azul {
  
    display: flex;
    background-color: blue;
    width: 360px;
    height: 360px;
    justify-content: center;
    align-items: center;
    color:white;

}

#verde {
   
    display: flex;
    background-color: green;
    width: 360px;
    height: 360px;
    justify-content: center;
    align-items: center;
    color:white;

}